@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
body {
  font-family: 'EB Garamond', serif;
}
.title {
  text-align: center;
  font-size: 2.5rem;
}
.break{
  color: orange;
  text-align: center;
  position: relative;
  left: 0;
  top: 8%;
  width: 150px;
  
}
.reset {
  border-bottom: 1px solid #101010;
  margin-top: 5px;
  vertical-align: middle;
  padding: 8px;
  width: 100px;
  font-size: 1.2rem;
  border-radius: 6px;
  background: red;
  left: 80%;
  position: relative;
}
.session {
  position: relative;
  left: 20%;
  top: 8%;
  color: green;
  width: 150px;
}
#switch {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 90%;
  left: 10%;
  text-align: center;
}
#clock{
  position: relative;
  height: 330px;
  width: 330px;
  border-radius: 100%;
  background: tomato;
  border: 10px double lightgreen;
  text-align: center; 
  top: 20px;
  left: 40%;
}
#display{
  padding-top: 80px;
  font-size: 3.4rem;
}

.decrease{
  border-radius: 8px 0px 0px 8px;
  display: inline-block;
  border: 1px solid #ddd;
  color: orange;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #686868;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.increase{
  border-radius: 0px 8px 8px 0px;
  display: inline-block;
  border: 1px solid #ddd;
  color: orange;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #686868;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sessionTime{
  display: inline-block;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  color: #101010;
}
.breakTime{
  display: inline-block;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  color: #101010;
}
.unclickable {
  pointer-events: none;
  cursor: crosshair;
}

@media all and (max-width: 350px) {
  #switch {
    width: 320px;
    left: 0;
    justify-content: flex-start;
  }
}

